{% set device = hostvars[inventory_hostname] %}

policy-options {
{% for vxlan in device.vxlan %}
    policy-statement vni-import {
        term {{ vxlan.community }} {
            from community {{ vxlan.community }};
            then accept;
        }
{% endfor %}
        then reject;
   }
{% for vxlan in device.vxlan %}
   community {{ vxlan.community }} members target:1:{{ vxlan.vni }};
{% endfor %}
}
protocols {
   evpn {
       vni-routing-options {
{% for vxlan in device.vxlan %}
           vni {{ vxlan.vni }} {
               vrf-target export target:1:{{ vxlan.vni }};
           }
{% endfor %}
      }
{% for vxlan in device.vxlan %}
      extended-vni-list {{ vxlan.vni }};
{% endfor %}
      encapsulation vxlan;
      multicast-mode ingress-replication;
      default-gateway do-not-advertise;
   }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ device.router_id }}:1;
    vrf-import vni-import;
    vrf-target target:9999:9999;
}
vlans {
{% for vxlan in device.vxlan %}
    {{ vxlan.vlan_name }} {
        description "{{ vxlan.vlan_description }}";
        vlan-id {{ vxlan.vlan_id }};
        l3-interface {{ vxlan.irb }};
        vxlan {
            vni {{ vxlan.vni }};
            ingress-node-replication;
        }
    }
{% endfor %}
}
interfaces {

{% if device.role is defined and 'Leaf' in device.role %}
{%   for vxlan in device.vxlan   %}
    irb {
        description "{{ vxlan.irb_description }}";
        unit {{ vxlan.irb }} {
            family inet {
                address {{ vxlan.ipv4_gw }}/{{ vxlan.ipv4_mask }};
            }
        }
    }
{%   endfor   %}
{% endif %}
}
