{% set device = hostvars[inventory_hostname] %}
#jinja2: lstrip_blocks: “True”

routing-options {
    router-id 10.0.1.1;
    autonomous-system {{ device.asn }};
    forwarding-table {
        export LB;
        ecmp-fast-reroute;
    }
}
protocols {
    bgp {
{% for bgp in device.bgp_neighbor %}
{%   if bgp.group is defined and 'Underlay' in bgp.group   %}
        group Underlay_eBGP {
            type external;
            mtu-discovery;
            local-address {{ bgp.local_address }};
            export bgp-underlay-out;
            local-as {{ device.asn }};
            bfd-liveness-detection {
                minimum-interval 300;
                multiplier 3;
                session-mode automatic;
            }
            multipath multiple-as;
            neighbor {{ bgp.remote_address }} {
                peer-as {{ bgp.remote_asn }};
            }
        }
{%   elif bgp.group is defined and 'Overlay' in bgp.group   %}
        group Overlay_eBGP {
            type external;
            multihop {
                ttl 2;
            }
            local-address {{ bgp.local_address }};
            family evpn {
                signaling;
            }
            bfd-liveness-detection {
                minimum-interval 300;
                multiplier 3;
                session-mode automatic;
            }
            multipath multiple-as;
            neighbor {{ bgp.remote_address }} {
                peer-as {{ bgp.remote_asn }};
            }
{%   endif   %}
{% endfor %}
        }
    }
}
policy-options {
    policy-statement LB {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-underlay-out {
        term loopback {
            from {
                protocol direct;
                route-filter 10.255.254.0/24 prefix-length-range /32-/32;
            }
            then {
                community add Underlay;
                accept;
            }
        }
        term as-path {
            from {
                as-path asPathLength2;
                community Underlay;
            }
            then reject;
        }
        then reject;
    }
    community Underlay members target:999:1;
    as-path asPathLength2 ".{2,}";
}
