{% set device = hostvars[inventory_hostname] %}
replace: interfaces {
{% for interface in device.l3_interfaces %}
{%   if interface.type is defined and "irb" in interface.type   %}
    {{ interface.interface }} {
        unit {{ interface.unit }} {
            description "{{ interface.description }}";
            family inet {
                address {{ interface.ipv4}}/{{ interface.ipv4_mask}};
                    virtual-gateway-address {{ interface.virtual_gw }};
                }
            }
        }
    }
{%   else   %}
    {{ interface.interface }} {
        unit {{ interface.unit }} {
            description "{{ interface.description }}";
            family inet {
                address {{ interface.ipv4}}/{{ interface.ipv4_mask}};
            }
        }
    }
{%   endif   %}
{% endfor %}
{% if device.l2_interfaces is defined %}
{%   for interface in device.l2_interfaces   %}
    {{ interface.interface }} {
        description "{{ interface.description }}";
        unit 0 {
            family ethernet-switching {
                interface-mode {{ interface.mode }};
                vlan {
{%     for vlan in interface.vlan     %}
                    members {{ vlan }}
{%     endfor     %}
                }
            }
        }
    }
{%   endfor   %}
{% endif %}
}
{% if device.role is defined and 'Leaf' in device.role %}
vlans {
{%   for vxlan in device.vxlan   %}
    {{ vxlan.vlan_name }} {
        description "{{ vxlan.vlan_description }}";
        vlan-id {{ vxlan.vlan_id }};
        l3-interface irb.{{ vxlan.vlan_id }};
        vxlan {
            vni {{ vxlan.vni }};
            ingress-node-replication;
        }
    }
{%   endfor   %}
}
{% endif %}
{% if device.role is defined and 'Leaf' in device.role %}
{%   for vrf in device.routing_instances   %}
routing-instances {
    {{ vrf.name }} {
        instance-type {{ vrf.instance_type }};
{%     for interface in vrf.interfaces     %}
        interface {{ interface }};
{%     endfor     %}
    }
{%   endfor   %}
}
{% endif %}
{% if device.role is defined and 'Leaf' in device.role %}
policy-options {
{%   for vxlan in device.vxlan   %}
    policy-statement vni-import {
        term {{ vxlan.community }} {
            from community {{ vxlan.community }};
            then accept;
        }
{%   endfor   %}
        then reject;
   }
{%   for vxlan in device.vxlan   %}
   community {{ vxlan.community }} members target:1:{{ vxlan.vni }};
{%   endfor   %}
}
protocols {
   evpn {
       vni-options {
{%   for vxlan in device.vxlan   %}
           vni {{ vxlan.vni }} {
               vrf-target target:1:{{ vxlan.vni }};
           }
{%   endfor   %}
      }
{%   for vxlan in device.vxlan   %}
      extended-vni-list {{ vxlan.vni }};
{%   endfor   %}
      encapsulation vxlan;
      multicast-mode ingress-replication;
      default-gateway do-not-advertise;
   }
}
switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ device.router_id }}:1;
    vrf-import vni-import;
    vrf-target target:9999:9999;
}
{% endif %}
